<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                         https://maven.apache.org/xsd/settings-1.0.0.xsd">

<servers>
    <server>
     <id>RaviSnapRepo</id>
     <username>admin</username>
     <password>admin123</password>
    </server>
    <server>
     <id>RaviReleaseRepo</id>
     <username>admin</username>
     <password>admin123</password>
    </server>    
</servers>
<mirrors>
    <mirror>
     <id>nexus</id>
     <mirrorOf>*</mirrorOf>
     <url>http://192.168.56.101:8081/nexus/content/groups/RaviGroupRepo/</url>
    </mirror>
 </mirrors>
</settings>
